body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #FF9A8B, #FF6A88, #FF99AC);
    transition: background 0.5s ease;
}

h1 {
    font-weight: 700;
}

.hidden {
    display: none;
}

header {
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    margin: 0;
}

.link-about a {
    color: #2d2d2d;
    text-decoration: none;
    font-size: 16px;
    border: 3px solid #2d2d2d;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.link-about a:hover {
    background-color: #2d2d2d;
    color: #ffffff;
}

.container {
    padding: 20px;
    text-align: center;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f900;
}

.output.hidden {
    display: none;
}

#conversationStarter {
    font-size: 100px;
    padding: 20px;
    width: 100%;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0 auto;
    cursor: pointer;
    color: #2d2d2d;
    background-color: #f4f4f900;
}

.button-container-fixed {
    position: fixed;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.button-container-fixed button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.button-container-fixed button:not(:last-child) {
    margin-right: 20px;
}

#copyButton {
    background-color: #45a049;
    color: white;
    border: none;
}

#copyButton:hover {
    background-color: #2d2d2d;
    color: #ffffff;
}

button:hover {
    background-color: #2d2d2d;
    color: #ffffff;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .logo img {
        height: 30px;
    }
    #conversationStarter {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px 10px;
    }
    .container, .output {
        padding: 15px;
        margin-bottom: 15px;
    }
    #conversationStarter {
        font-size: 16px;
    }
}
